<div class="alert alert-block alert-info">
    <p><img src="https://geekbrains.ru/apple-touch-icon-57x57.png" align="right" alt="GeekBrains"></p>
    <p style="color:DarkSlateGray"><b>Course:</b> Machine Learning Systems in Production</p>
    <p style="color:DarkSlateGray"><b>Project:</b> Churn Prediction in Game</p>
    <p style="color:DarkSlateGray"><b>Supervisor:</b> Fedor Erin</p>
    <p style="color:DarkSlateGray"><b>Author:</b> Dmitry Doni</p>
</div>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

import random

In [2]:
# Display charts in Jupyter Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
# Display inline plots as SVG
%config InlineBackend.figure_formats = ['svg']
# Set the limit of columns displayed in the notebook
pd.options.display.max_columns = 100

### Train Data

In [3]:
train_data_raw = pd.read_csv('../../datasets/gamechurn/train/sample.csv', delimiter=';')
train_data_raw.head(5)

,user_id,is_churned,login_last_dt,level,donate_total
0,1e7edd8347e3aaeedf8c494b11240851e3fa0ad231b8f8...,0,2019-09-03,43,88730.00000
1,f43cac5f14e06ca039b173e14c323ac0c1fd8492f0cf08...,0,2019-09-18,50,44149.00000
2,cc7450e0b182947998534ef137b05e07109c100aced0b6...,0,2019-09-22,37,44931.00000
3,5c583d57a1e9e53341fc239d41fb6983e667a04b1b4d94...,0,2019-09-06,20,37538.00000
4,9bbaa1a2501e8dc83cf6c0c54ef139c75c99de09dcf4dc...,0,2019-09-01,10,4100.97998

In [4]:
train_data_raw.shape

(469475, 5)

In [5]:
train_data_raw.describe()

          is_churned          level  donate_total
count  469475.000000  469475.000000  4.694750e+05
mean        0.029448      26.792698  4.800206e+04
std         0.169058      12.680296  8.576742e+04
min         0.000000      10.000000  6.000000e-02
25%         0.000000      17.000000  6.312000e+03
50%         0.000000      23.000000  2.019600e+04
75%         0.000000      36.000000  5.543250e+04
max         1.000000      50.000000  4.356043e+06

### Test Data

In [6]:
test_data_raw = pd.read_csv('../../datasets/gamechurn/test/sample.csv', delimiter=';')
test_data_raw.head()

,user_id,login_last_dt,level,donate_total
0,0bda14606761d90210e6e5f7432b5a5c2f7cbda6d5144e...,2019-09-29,13,11972.219727
1,beaabc52f2f369d27d4b4132d6629e475f2117568a9041...,2019-09-29,25,8000.000000
2,969daefac09c760c75e0a131d4397ef43278151ead9232...,2019-09-28,12,5408.120117
3,2f8a302052389f20fbe09e144c60917e5495312f7a83bc...,2019-09-28,49,121067.437500
4,10bf851621a8a69b0900f3b5f3c0904a45f2b952e6e2d4...,2019-09-29,11,4194.000000

### Predictions

In [7]:
# test_predictions.to_csv('../../datasets/gamechurn/DDoni_predictions.csv', index=None)